/* Global Typography */

h1, h2, h3, h4, h5, h6, .navbar-brand{font-family: 'Fredoka One', cursive !important; color:#484848;}
p,  ul,  ol,  li,  table,  address,  blockquote,  cite, header .navbar .navbar-nav .nav-item {font-family: 'Raleway', sans-serif !important; color:#484848;}

/* Global Styling */
body { border:16px solid #f67272;}
@media(max-width:991px) {body {border:none;}}

/* Typography Helper Classes */
.text-red {color:#f67272 !important;}

/* Header / Nav Styling */
header .navbar {border-bottom: 1px solid #f1f1f1;}
header .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246,114,114, .95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
header .rounded-brand { justify-content: center; align-items: center; border-radius: 100%; text-align: center; display: flex; background-color: #f67272; width:65px;height:65px; margin-right:10px;}
header .rounded-brand h2 {color:#fff; margin-bottom:0px;}
header .navbar-brand strong {font-size:2.5em;letter-spacing:1.5px;color: #484848;}
header .navbar-nav .nav-item {color: #484848; letter-spacing:1px; font-size:1.1em;}
header .navbar-nav .nav-item:hover {color: #ffb3b3;}
header .navbar-nav .nav-item.active{font-weight: 800;color: #f67272;}
